@import 'variables';

#active-category {
  margin: $spacing * 2.5 auto;

  * {
    text-align: center;
    margin: $spacing / 4 auto;
  }
}

.cat-select {
  padding: $spacing / 2;
  min-width: 200px;
}
