@import 'variables';

#main-footer {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 85, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  flex-direction: column;
  font-family: Arial;

  svg {
    margin: auto $spacing;
  }

  * {
    color: white;
  }

  p {
    padding-top: $spacing / 2;
  }

  .url-icons {
    padding-bottom: $spacing / 2;
  }
}
