@import 'variables';

#cart-list-header {
  padding-left: 0;
  padding-right: $spacing;
}

#no-items {
  margin-top: $spacing / 2;

  .big-smiley {
    font-size: 50px;
  }

  #back-to-shopping-btn {
    svg {
      margin-right: $spacing / 4;
    }
  }
}
